rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Hotel Udika Palace CMS Collections & Documents
    match /cms/{document=**} {
      allow read, write: if true;
    }
  }
}
